body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-image: url('https://image.freepik.com/fotos-gratis/plano-de-fundo-das-novas-notas-de-dolar-com-espaco-para-o-texto_268321-25.jpg');
    background-color: #000000;
    background-size: 210vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #696969;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #696969;
    margin-top: 5px;
  }

h2 {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    top: 25%;
    left: 50px;
    text-align:center;
    color: #696969;
  }
  
  .page-logo {
    width: 200px;
  }
   
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }

  .my-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    left:10px;
  }
